body {
  font: 16px/1.5 sans-serif;
}

.modal {
  width: 50vw;
  height: 40vh;
  text-align: center;
  border: 15px solid #5bcef3;
  background-color: #b4eafb;
  border-radius: 10px;
  font-size: 30px;
  position: relative;
  left: 200px;
}

.modal2 {
  width: 30vw;
  height: 25vh;
  text-align: center;
  border: 10px solid #5bcef3;
  background-color: #b4eafb;
  border-radius: 10px;
  font-size: 30px;
  position: sticky;
  left: 300px;
}

button {
  width: 80px;
  height: 25px;
  position: absolute;
  top: calc(50%);
  right: calc(50%);
}

.exit {
  color: black;
  width: 30px;
  border-radius: 3px;
  position: absolute;
  right: 0px;
  top: 0px;
}


.ok {
  background-color: #28a745;
  color: white;
  position: absolute;
  right: calc(50% - 40px)
}

/* sem přijdou tvoje styly */
